* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------------------------------------------------*/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #999999;
  display: flex;
  flex-direction: column;
}

/* VARIABLES*/
/* /VARIABLES*/
/* MIXINS */
/* /MIXINS */
body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #3e3f43;
}

.header {
  background: url("../img/header/bg.jpg") 100% 0/contain no-repeat;
}
.header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  margin-bottom: 170px;
}
.header .main-nav {
  width: 65%;
}
.header .main-nav .main-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .main-nav .main-nav__list .main-nav__items:not(:last-child) {
  margin-right: 48px;
}
.header .main-nav .main-nav__list .main-nav__items .main-nav__links {
  color: #222;
  opacity: 0.75;
  display: block;
}
.header .main-nav .main-nav__list .main-nav__items .main-nav__links:hover {
  color: #daa520;
  transition: all 0.2s linear;
}
.header .main-nav .main-nav__list .main-nav__items .sigh-btn {
  padding: 10px 36px;
  display: block;
  text-transform: uppercase;
  color: #3e3f43;
  font-weight: 700;
  border: 1px solid #3e3f43;
  border-radius: 8px;
  background-color: transparent;
}
.header .main-nav .main-nav__list .main-nav__items .sigh-btn:hover {
  background-color: #3e3f43;
  color: #fff;
  transition: all 0.3s linear;
}
.header .header-content {
  width: 50%;
}
.header .header-content .header__text {
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 51px;
}
.header .header-content .header__title {
  font-size: 72px;
  font-weight: 700;
  color: #313235;
  width: 80%;
  line-height: 1.3;
  margin-bottom: 27px;
}
.header .header-content .header__btn {
  margin-bottom: 327px;
}

/*------------------Snippet---------------------*/
.container {
  max-width: 1170px;
  width: 95%;
  margin: 0 auto;
}

.active {
  color: #daa520;
}

.default-btn {
  display: inline-block;
  font-weight: 700;
  color: #fff;
  padding: 18px 25px;
  background-color: #daa520;
  border-radius: 4px;
}
.default-btn:hover {
  background-color: #f9bdbd;
  color: #3e3f43;
  transition: all 0.3s linear;
}

.text-head {
  font-size: 36px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.text-head:before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  background: url(/img/general/preimg.png) 0 0/contain no-repeat;
  width: 30px;
  height: 30px;
}

.title-head {
  font-size: 72px;
  font-weight: 800;
  color: #222;
  opacity: 0.1;
  text-transform: uppercase;
}

.line {
  width: 100%;
  max-width: 500px;
  background-color: #000;
  height: 1px;
}

.cells {
  border-radius: 0 40% 0 40%;
  background: #F7DEA6;
}

/*------------------//Snippet---------------------*/
.logo {
  display: flex;
  align-items: center;
}
.logo .logo__img {
  margin-right: 8px;
}
.logo .logo__link {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 24px;
  font-weight: 700;
  color: #3e3f43;
}

.about {
  margin-top: 24px;
  margin-bottom: 155px;
}
.about .about-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 76px;
}
.about .about-content .about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-image: url("../img/about/bg.jpg") 0 0 no-repeat;
}
.about .about-content .about-wrapper .about-wrapper__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.about .about-content .about-wrapper .about-wrapper__items:not(:last-child) {
  margin-bottom: 40px;
}
.about .about-content .about-wrapper .about-wrapper__items .about-wooden {
  width: 50%;
  margin-right: 80px;
  position: relative;
}
.about .about-content .about-wrapper .about-wrapper__items .about-wooden .about-wooden__img {
  top: 20%;
  right: 20%;
  position: absolute;
}
.about .about-content .about-wrapper .about-description {
  width: 50%;
  color: #000;
}
.about .about-content .about-wrapper .about-description .about-description__subtitle {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 34px;
  line-height: 1.3;
}
.about .about-content .about-wrapper .about-description .about-description__subtitle b {
  font-weight: 800;
}
.about .about-content .about-wrapper .about-description .about-description__text {
  font-size: 24px;
  font-weight: 600;
  width: 80%;
  line-height: 1.3;
}

.how .how-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 76px;
}
.how .line {
  max-width: 200px;
}
.how .how-wrapper {
  margin-bottom: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.how .how-wrapper .how-items {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  margin-bottom: 40px;
}
.how .how-wrapper .how-items .how-items__img {
  display: block;
  margin-bottom: 30px;
  max-width: 100%;
  max-height: 98px;
  height: auto;
}
.how .how-wrapper .how-items .how-items__text {
  font-size: 24px;
  font-weight: 700;
}
.how .default-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 120px;
}

.categories .container .categories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
}
.categories .container .categories-header .line {
  max-width: 400px;
}
.categories .container .categories-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.categories .container .categories-wrapper .cells {
  background-color: #f9bdbd;
}
.categories .container .categories-wrapper .categories-items {
  height: 379px;
  margin-bottom: 40px;
  flex: 0 1 25%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.categories .container .categories-wrapper .categories-items:nth-child(3n) {
  background: #a8dcec;
}
.categories .container .categories-wrapper .categories-items:nth-child(3n+2) {
  background: #F7DEA6;
}
.categories .container .categories-wrapper .categories-items:not(:last-child) {
  margin-right: 56px;
}
.categories .container .categories-wrapper .categories-items .categories-items__title {
  font-size: 24px;
  font-weight: 800;
  padding: 21px 0 0 18px;
}
.categories .container .categories-wrapper .categories-items .categories-items__photo {
  max-width: 235px;
}
.categories .container .categories-wrapper .categories-items .categories-items__photo:not(:nth-child(1)) {
  align-self: center;
}
.categories .container .categories-wrapper .categories-items .categories-items__btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: #3e3f43;
  padding: 13px 18px;
  margin: 0 18px 21px 0;
  border: 1px solid #3e3f43;
  border-radius: 4px;
  align-self: flex-end;
}
.categories .container .categories-wrapper .categories-items .categories-items__btn:hover {
  background-color: #3e3f43;
  opacity: 0.2;
  color: #fff;
  transition: all 0.2s linear;
}

.subscribe {
  margin-top: 500px;
  margin-bottom: 90px;
}
.subscribe .container .subscribe-wrapper {
  display: flex;
}
.subscribe .container .subscribe-wrapper .subscribe-text {
  width: 45%;
  color: #000;
}
.subscribe .container .subscribe-wrapper .subscribe-text .subscribe-text__title {
  font-size: 18px;
  font-weight: 700;
}
.subscribe .container .subscribe-wrapper .subscribe-text .subscribe-text__description {
  font-size: 16px;
  font-weight: inherit;
  line-height: 1.3;
}
.subscribe .container .subscribe-wrapper .subscribe-form {
  display: flex;
  width: 55%;
}
.subscribe .container .subscribe-wrapper .subscribe-form .subscribe-form__email {
  width: 70%;
  border: 1px solid #daa520;
  padding: 16px;
  font-size: 16px;
}
.subscribe .container .subscribe-wrapper .subscribe-form .default-btn {
  width: 30%;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  font-weight: inherit;
}

.footer {
  background: url("../img/footer/bg.jpg") 100% 100% no-repeat;
}
.footer .container .footer-wrapper {
  padding-top: 24px;
  border-top: 1px solid #C4C4C4;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 44px;
  height: 400px;
}
.footer .container .footer-wrapper .footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .container .footer-wrapper .footer-links .footer-links__title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.footer .container .footer-wrapper .logo {
  margin-bottom: 22px;
}
.footer .container .copyright {
  text-align: center;
}